%h2
  = t('devise.registration.title', model: resource.class.model_name.human )
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, autocomplete: 'off', hint: t('devise.registration.hint_password'), required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: t('devise.registration.hint_current_password'), required: true
  .form-actions
    = f.button :submit, t('btn.update'), class: 'btn btn-primary'
= link_to t('btn.back'), :back
