%tr{ class: admin.is_active ? 'active' : 'passive' }
  %td= admin.id
  %td= admin.full_name
  %td= mail_to admin.email, admin.email
  %td= l admin.current_sign_in_at if admin.current_sign_in_at.present?
  %td= l admin.last_sign_in_at if admin.last_sign_in_at.present?
  %td= admin.is_active ? t('view.active') : t('view.passive')
  %td.action
    = link_to [:hq, admin],
              class: 'btn btn-success btn-sm',
              data: { toggle: :tooltip },
              title: t('view.tooltips.zoom') do
      %i.fas.fa-search-plus
    = link_to edit_hq_admin_path(admin),
              class: 'btn btn-info btn-sm',
              data: { toggle: :tooltip },
              title: t('view.tooltips.edit') do
      %i.fas.fa-edit
    - if admin.id != current_admin.id
      = link_to [:hq, admin],
                class: 'btn btn-danger btn-sm',
                method: :delete,
                data: { confirm: t('view.tooltips.are_you_sure'), toggle: :tooltip },
                title: t('view.tooltips.delete') do
        %i.fas.fa-trash
      - if admin.is_active
        = link_to toggle_is_active_hq_admin_path(admin),
                  class: 'btn btn-danger btn-sm',
                  method: :post, data: { toggle: :tooltip },
                  title: t('view.make_passive') do
          %i.fas.fa-ban
      - else
        = link_to toggle_is_active_hq_admin_path(admin),
                  class: 'btn btn-info btn-sm',
                  method: :post,
                  data: { toggle: :tooltip },
                  title: t('view.make_active') do
          %i.fas.fa-check
