.card
  .card-header
    %i.fas.fa-edit
    = yield :form_title
  .card-body
    = simple_form_for([:hq, admin]) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :surname
        = f.input :email

      .form-actions
        - text = admin.persisted? ? t('view.btn.update') : t('view.btn.add')
        = f.button :submit, text, class: 'btn btn-primary'
        = link_to t('view.cancel'), hq_admins_path, class: 'btn'
