%i#toggle.icon-align-justify.icon-large

%ul#dock

  %li.launcher
    %i.icon-dashboard
    =link_to  t('dock.dashboard'), hq_dashboard_index_path

  %li.launcher.dropdown.hover
    %i.fa.fa-list
    %a{href: '#'}= t('dock.system_users')
    %ul.dropdown-menu
      %li
        = link_to hq_admins_path do
          %i.fa.fa-users
          = t('activerecord.models.admins')
      %li
        = link_to hq_users_path do
          %i.fa.fa-users
          = t('activerecord.models.users')

  %br/
  %li.launcher.dropdown.hover
    %i.fa.fa-list
    %a{href: '#'}= t('dock.system_datas')

#beaker{data: {toggle: 'tooltip'}, title: 'Made by lab2023'}