%h2= t('devise.password.reset.title')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
  .form-actions
    = f.button :submit, t('devise.password.reset.instructions'), class: 'btn btn-primary'
%br
= render 'devise/shared/links'