- content_for :toolbar do
  = link_to new_hq_user_path, class: 'btn btn-default' do
    %i.icon-plus
    = t('action_button.new', resource_name: User.model_name.human)

.panel.panel-default.grid
  .panel-heading
    %i.fa.fa-table.icon-large
    = t('activerecord.models.users')
    .panel-tools
      .btn-group
        %a.btn{href: hq_users_path, data: {toggle: 'toolbar-tooltip'}, title: t('view.reload')}
          %i.fa.fa-refresh
      .badge= @users.total_entries
  =blankable(@users)
  .panel-footer
    .pagination.pagination-sm
      = will_paginate @users, renderer: BootstrapPagination::Rails, bootstrap: 3