.panel-body.filters
  = render 'filters'
%table.table
  %thead
    %tr
      %th= sort_link(@search, :id, t('activerecord.attributes.city.id'))
      %th= sort_link(@search, :name, t('activerecord.attributes.city.name'))
      %th= sort_link(@search, :country_id, t('activerecord.attributes.city.country_id'))
      %th= sort_link(@search, :created_at, t('activerecord.attributes.city.created_at'))
      %th.actions
        = t('view.actions')
  %tbody
    = render @cities
