%h2= t('devise.password.edit.title')
= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .form-inputs
    = f.input :password, required: true, autofocus: true
    = f.input :password_confirmation, required: true
  .form-actions
    = f.button :submit, t('devise.password.edit.button') , class: 'btn btn-primary'
  %hr
  = render 'devise/shared/links'
