- content_for :toolbar do
  = link_to edit_hq_admin_profile_path, class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: AdminProfile.model_name.human)
  .panel-body
    = show_for @admin_profile do |s|
      = s.attribute :first_name
      = s.attribute :last_name
      = s.attribute :gsm
