- content_for :toolbar do
  = link_to edit_hq_user_path(@user), class: 'btn btn-default btn-primary' do
    %i.fas.fa-pencil
    = t('view.edit')
.card
  .card-header
    %i.fas.fa-edit
    = t('view.tooltips.show', resource_name: User.model_name.human)
  .card-body
    = show_for @user do |s|
      = s.attribute :name
      = s.attribute :surname
      = s.attribute :email do
        = mail_to @user.email, @user.email
      = s.attribute :is_active
      = s.attribute :current_sign_in_at
      = s.attribute :last_sign_in_at
      = s.attribute :created_at
      = s.attribute :updated_at
