%p
  = t( 'email.salut', user: @resource.email )
%p
  = t( 'email.devise.reset_password.desc1')
%p= link_to t( 'email.devise.reset_password.change'), edit_password_url(@resource, reset_password_token: @token)
%p
  = t( 'email.devise.reset_password.desc2')
%p
  = t( 'email.devise.reset_password.desc3')