.card
  .card-header
    %i.fas.fa-edit
    = t('view.title.show', resource_name: User.model_name.human)
  .card-body
    = show_for @profile do |s|
      = s.attribute :name
      = s.attribute :surname
      = s.attribute :email
      = s.attribute :created_at
      = s.attribute :updated_at
  .card-footer
    = link_to root_path, class: 'btn' do
      %i.fas.fa-arrow-left
      = t('view.btn.back')
    = link_to edit_user_profile_path(@profile), class: 'btn btn-primary' do
      %i.fas.fa-pencil
      = t('view.navbar.edit_profile_info')
